@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');


body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono';
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.dark-bg {
  background-color: #25262A;
}
.light-bg {
  background-color: #2D2E32;
}
.white {
  color: #FFFFFF;
}
.gray {
  color: #777777;
}
.green {
  color: #4dba87;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-full {
  flex: 1;
}
.justify-space {
  justify-content: space-between;
}
section {
  padding: 5rem 5rem;
}

/* BUTTONS */
button {
  font-family: 'Trebuchet MS';
  border: none;
  font-size: 18px;
  padding: 11px 16px;
  margin-right:5%;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s;
}

.buttonbg {
  background-color: #4dba87;
  color: #2D2E32;
  cursor: pointer;
}
.buttonbg:hover, .buttonbg:active, .buttonbg:focus{
    background-color: #FFFFFF;
    color: #2D2E32;
    cursor: pointer;
}

.buttonnobg {
  background-color: #2D2E32;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}
.buttonnobg:hover, .buttonnobg:active, .buttonnobg:focus{
    border: 1px solid #2D2E32;
    background-color: white;
    color:  #2D2E32;
    cursor: pointer;
}

header .changable:hover {
  filter: invert(55%) sepia(63%) saturate(400%) hue-rotate(100deg) brightness(120%) contrast(60%);
  transition: 0.5s;
}

/* Header */
nav {
  padding: 1.1rem 5rem;
}
nav .logo {
  font-size: 1.5rem;
  font-weight: 600;
}
nav ul li {
  list-style-type: none;
  margin-left: 3rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.header {
  justify-content:center;
  padding: 5rem 5rem 0rem 5rem;
}
.header h1 {
  margin: auto;
  font-size: 3rem;
  font-weight: 500;
}
.header p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.header button {
  cursor: text;
  margin-bottom: 1.5rem;
}
.header a {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

/* About */
.about-card {
  width: 90%;
  padding: 2rem;
  margin-top: 0.5em;
  border-radius: 0.5rem;
}
.about-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.about-card p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-card span {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}
.about-text h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2rem;
}
.about-text h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: justify;
}
.about-text p {
  font-weight: 500;
  font-size: 1.0rem;
  text-align: justify;
}
.partners {
  padding-top: 5rem;
}

.about-container {
  margin: 0 auto;
  max-width: 765px;
  padding: 15px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skill-card {
  display: grid;
  grid-template: auto auto / auto auto auto auto;
  gap: 20px;  
}

.skill-card div {
  transition: all 0.5s;
  border-radius: 8px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-color: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.skill-card div:hover {
  text-decoration: none;
  transform: scale(1.05) translateY(-5px);  
  box-shadow: 0px 0px 5px 1px #FFFFFF;    
}

.skill-card div:active, div:focus {
  text-decoration: none;
  transform: translateY(-5px);
  box-shadow: 0px 0px 5px 1px #FFFFFF;   
}

.skill-card div p {
  margin-right: auto;
  color: white;
}

.skill-card div img {
margin-left: auto;
}



/* Footer */
footer {
  padding: 3rem 3rem;
}
footer div {
  position:absolute;
  right:5%;
}
footer span {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
header ul {
  position: relative;
  list-style-type: none;
  text-align: center;
  align-items: center;
}

/* --------- Responsive Design --------- */
@media (max-width: 768px) {
  .flex {
    row-gap: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skill-card {
    grid-template: auto auto auto auto / auto auto;
  }
  li a {
    transition: all 0.5s;
  }
  /* Header */
  nav {
    padding: 1rem 2rem;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  nav ul, nav ul li, .active {
    display: none;
  }
  .header {
    padding: 2rem 2rem 0rem 2rem;
  }
  section {
    padding: 1rem 2rem;
  }
  /* About */
  .about-card {
    width: 100%;
  }
  .about-card div {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  .skill-card {
    grid-template: auto auto auto auto auto auto auto auto / auto;
  }
  /* Footer */
  header ul {
    text-align: center;
    align-items: center;
  }

}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}